# 板定义，这里定义右手
if SHIELD_OFFSETKEY_RIGHT

# 定义键盘显示名称
config ZMK_KEYBOARD_NAME
	default "offsetkey"

# 定义右手为主手，offsetkey引用的3610轨迹球驱动要求球必须在主手。如果是定义左手为主手，最上面那一行RIGHT改成LEFT
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

# 有if就必须有endif，一一对应
endif

# 两只手一起定义
if SHIELD_OFFSETKEY_LEFT || SHIELD_OFFSETKEY_RIGHT

# 是否为分体键盘
config ZMK_SPLIT
	default y
	
endif

# 定义屏幕显示
if ZMK_DISPLAY

# SSD3610 OELD屏幕信号走I2C通道
config I2C
    default y

# 使用SSD1306屏幕驱动
config SSD1306
    default y

# 选择专用的屏幕更新线程
choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

endif

# 屏幕参数设置，分辨率啥的
if LVGL

config LV_Z_VDB_SIZE
    default 64

config LV_DPI_DEF
    default 148

config LV_Z_BITS_PER_PIXEL
    default 1

choice LV_COLOR_DEPTH
    default LV_COLOR_DEPTH_1
endchoice

endif


# 屏幕背光设置
if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT


# 下面这俩是启用主控板的DCDC电路，更省电。如果没有焊接对应的元件，请勿启用
config BOARD_ENABLE_DCDC
    bool "Enable DCDC mode"
    select SOC_DCDC_NRF52X
    default y
    depends on (SHIELD_OFFSETKEY_LEFT || SHIELD_OFFSETKEY_RIGHT)

config BOARD_ENABLE_DCDC_HV
    bool "Enable High Voltage DCDC converter"
    default y
    select SOC_DCDC_NRF52X_HV
    depends on (SHIELD_OFFSETKEY_LEFT || SHIELD_OFFSETKEY_RIGHT)

